DISCORD_TOKEN = your_discord_token
DATABASE_URL = "postgresql+asyncpg://username:password@localhost/database_name"
ADMIN_API_KEY = your_admin_api_key

POSTGRES_USER = username
POSTGRES_PASSWORD = password
POSTGRES_DB = database_name
